*{
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  color: white;

}


body{
  background-color: black;
}
.board{

  height: 50vh;
  width: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


.board > div{

height: calc(100%/9);
width: calc(100%/9);
border: 1px solid black;



}


.preview{
  display: flex;
  height:50px;
  width:50px;
  margin: 0 auto;
  font-size: 50px;
  
}





.active{
  border:5px solid pink;

}

.b{
  background-color: white;
}

 .i{
   background-color: red;

 }
 .l{
   background-color: green;

 }
 .j{
   background-color: blue;

 }
 .o{
   background-color: yellow;

 }
 .s{
   background-color: orange;

 }
 .t{
   background-color: purple;

 }
 .z{
   background-color: silver;

 }


 .topRow{
   visibility: hidden;
 }
