*{

  box-sizing: border-box;
  text-align: center;
  color: rgba(255, 255, 255, 1);

}


body{
  background-image: url('background2.gif');

}
.board{

  height: 50vh;
  width: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: border:50px solid pink;
}


.board > div{

height: calc(100%/9);
width: calc(100%/9);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}


.preview{
  display: flex;
  height:50px;
  width:50px;
  margin: 0 auto;
  font-size: 50px;

}





.active{
  border:5px solid pink;

}

.b{
  background-color: white;
  border: 1px solid pink;
}

 .i{
   background-color: rgba(25, 181, 254, 0.3);
   border: 1px solid black;

 }
 .l{
   background-color: rgba(241, 140, 34, 0.4);
   border: 1px solid black;


 }
 .j{
   background-color: rgba(0, 0, 255, 0.3);
   border: 1px solid black;


 }
 .o{
   background-color: rgba(240, 255, 0, 0.3);

   border: 1px solid black;


 }
 .s{
   background-color: rgba(255, 0, 0, 0.3);
   border: 1px solid black;


 }
 .t{
  background-color: rgba(154, 18, 179, 0.3);
   border: 1px solid black;



 }
 .z{
   background-color: rgba(0, 255, 0, 0.3);
   border: 1px solid black;


 }


 .topRow{
   visibility: hidden;
 }
